[submodule "RTA"]
	path = RTA
	url = https://github.com/EngineerSmith/Runtime-TextureAtlas
  update = merge #
[submodule "NFS"]
	path = NFS
	url = https://github.com/megagrump/nativefs
  update = merge #
